gym-anytrading==2.0.0
gymnasium==0.29.1
jupyter_client==8.6.2
jupyter_core==5.7.2
matplotlib==3.9.2
numpy==2.1.2
pandas==2.2.2
QuantStats==0.0.64
stable_baselines3==2.3.2
ta==0.11.0
torch==2.5.0
yfinance==0.2.43
